* {
	margin: 0; 
    padding: 0;
}

body { 
	font-size: 62.5%; 
	background: url("https://s3-us-west-2.amazonaws.com/www.spencerhb.com/Website+Photo.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
	color: #000000;
    overflow: hidden;
}

tr { 
	vertical-align: top;
}

.content{
	margin-top: 2cm;
}

.post {
    width: 90vw;
    padding: 5vw;
    color: #000000;
}

.post-des{
    display: inline-block;
}

.post-text{
    width: 45vw;
    float: left;
}

.photos{
    width: 45vw;
    float: right;
}

.photo-row{
    display: inline-block;
}

.post-photo{
    max-height: 45%;
    max-width: 45%;
    padding: 2%;
}

.dots{
    background-color: transparent;
    text-align: center;
    position: fixed;
    bottom:5%;
    left: 50%;
    transform: translateX(-50%);
}

.dot{
    background-color:transparent;
    height:40px;
    width:40px;
    border-radius:20px;
    padding:0;
    cursor:pointer;
    display:inline-block;
    padding: 0 8px;
    text-align: center;
}

.dot:hover{
    background-color:white;
}

.left-btn{float:left!important;font-size: 1000%;color:#fff;cursor:pointer; position: fixed; left: 20px;top:47vh;}
.right-btn{float:right!important;font-size: 1000%;color:#fff;cursor:pointer; position: fixed; right: 20px;top:47vh;}
.btn-hover:hover{color:#ca4f4fef!important}
.dot-border{border:3px solid #ccc!important}
.dot-white{color:#000!important;background-color:#fff!important}


div.scrollmenu {
	right: 0;
	top: 0;
	position: fixed;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a.active{
	order: 1px solid rgba(133, 36, 36, 0.664);
} 

div.scrollmenu a:hover {
	border: 1px solid #999999	
}

/*
	TYPOGRAPHY
*/
p { font-size: 1.2em; margin: 0 0 15px 0; }
h1 { font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: #000000; }
h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;
							  letter-spacing: -1px; color: #000000; }
h3 { font-family: Helvetica, sans-serif; font-size: 2.0em;
							  letter-spacing: -1px; color: #000000; }
a { color: #7277bb; }
a:hover { color: #ccc; }