* {
	margin: 0; 
    padding: 0;
}

body { 
	font-size: 62.5%; 
	background: url("https://s3-us-west-2.amazonaws.com/www.spencerhb.com/Website+Photo+2.jpg") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
	color: #000000;
    overflow: hidden;
}

tr { 
	vertical-align: top;
}

.content{
	margin-top: 2cm;
}

.post {
    width: 90vw;
    height: 90vh;
    padding: 10vh 0 0 9vw;
    color: #000000;
}

.post-des{
    padding-top: 5px;
    display: inline-block;
}

.post-text{
    width: 40vw;
    padding: 2.5vw;
    float: left;
    background-color: #ffffffb2
}

.photos{
    width: 40vw;
    padding: 2.5vw;
    float: right;
}

.photo-row{
    display: inline-block;
}

.post-photo{
    max-height: 45%;
    max-width: 45%;
    padding: 2%;
}


.left-btn{font-size: 1200%;color:#fff;cursor:pointer; position: fixed; left: 10px;top:36vh; visibility: visible;}
.right-btn{font-size: 1200%;color:#fff;cursor:pointer; position: fixed; left: 10px;top:58vh; visibility: visible;}
.btn-hover:hover{color:#ca4f4fef!important}


div.scrollmenu {
	right: 0;
	top: 0;
	position: fixed;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a.active{
	color: 1px solid rgba(133, 36, 36, 0.664);
} 

div.scrollmenu h1:hover{
	color: #c0414181;	
}

/*
	TYPOGRAPHY
*/
p { font-size: 1.4em; margin: 0 0 15px 0; }
h1 { font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: #ffffff; }
h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;
							  letter-spacing: -1px; color: #ffffff; }
h3 { font-family: Helvetica, sans-serif; font-size: 2.0em;
							  letter-spacing: -1px; color: #ffffff; padding: 2%;}
a { color: #7277bb; }
a:hover { color: #ccc; }