/*
	RESET & BASIC SETUP
*/

* {
	margin: 0; 
	padding: 0; 
}

body { 
	font-size: 62.5%; 
	font-family: 'Lucida Grande', Helvetica, sans-serif;
	background: url("https://s3-us-west-2.amazonaws.com/www.spencerhb.com/Website+Photo+Home.jpg	") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 98.5vw;
	color: #000000; 
	padding: 20px;
	scroll-snap-type: x mandatory;
	overflow-x: hidden;
}

.desc{
	max-width: 50%;
	margin-top: 3%;
	margin-left: 2.2vw;
	margin-bottom:2.25vw;
	background-color: #ffffffb4;
	padding: 10px;
}

.photos-left{
	width: 49.25vw;
	float: left;
}

.photos-right{
	width: 49.25vw;
	float: right;
}

.photo-row{
    display: inline-block;
}

.about-photo{
	padding: 2.25vw;
	max-width: 44.5vw;
}
.about-photo-2{
	padding: 2.25vw;
	max-width: 20vw;
}

tr { 
	vertical-align: top;
}

div.scrollmenu {
	right: 0;
	top: 0;
	position: fixed;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu h1:hover{
	color: #c0414181;	
}

/*
	TYPOGRAPHY
*/
p { font-size: 1.5em; margin: 30px 15px; }
h1 { font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: #000000; }
h2 { font-family: Helvetica, sans-serif; font-size: 3.0em;
							  letter-spacing: -1px; color: #000000; }
a { color: #7277bb; }
a:hover { color: #ccc; }